body {
    /*background-image: url("assets/img/bg.jpg");*/
}

h1 {
    color: #f57c04;
    font-family: unset;
}

.content {
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
}

input {
    background: #F7F8FA;
    width: 100%;
    height: 50px;
    border: #F7F8FA solid 1px;
    margin: 0 auto;
    margin-top: 2px;
    padding: 2px;
    padding-left: 5px;
    /*border: solid 1px;*/
    border-radius: 5px;
}

input[type=submit] {
    background: #f3811e;
    font-weight: bold;
    margin: 0 auto;
}

::placeholder {
    font-weight: bold;
}
.note{
    color: #f57c04;
    font-family: unset;
    color: unset;
    margin-left: 0;
    text-align: unset;
}

@media only screen and (min-width: 768px) {
    .form-wrap {
        text-align: center;
    }

    form {
        width: 600px;
        margin: 0 auto;
    }
}
